.header{
    background-color: #181818;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;

    &__menu {
        flex-basis: 100%;
        order: 1;

        @media screen and (min-width: 60rem){
            flex-basis: auto;
            order: 0;
        }

        ul{
            padding-left:0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;

            li{
                flex: 1;
                text-align:center;
                color: white;
                padding: 0.25rem 1rem;
                list-style-type: none;

                a{
                    color: #FFFFFF;
                    text-decoration: none;
                }
            }
        }
        
    }

    &__subscribe{
        border: 1px solid #696969;
        border-radius: 0.25rem;

    }

    &__image{
        flex:1;
        text-align:center;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: 60rem){
            justify-content: flex-start;
        }

        img{
            max-height: 2.3rem;
            max-width: none;
        }
    }
}